.dashboard-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.summary-item {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 30%;
  color: white;
}

.income {
  background-color: #4caf50;
}

.expenses {
  background-color: #f44336;
}

.balance {
  background-color: #2196f3;
}
