<!-- <div class="container mt-4">
  <div class="d-flex gap-5 align-items-center">
    <h1>Money Tracker app</h1>
  </div>
  <div class="bg-success p-2 text-light">
    <h3>Welcome to my app</h3>
  </div>
</div>

<div class="container mt-4">
  <p>Hello, <strong>{{ person.firstname }} {{ person.lastname }}</strong></p>

  <table class="table table-bordered w-50">
  <tr>
    <td class="fw-semibold text-end">First Name: </td>
    <td>{{ person.firstname }}</td>
  </tr>
</table>
</div> -->

<!-- app.component.html -->
<!-- <app-navbar></app-navbar>  if you have a navbar -->
<router-outlet></router-outlet>
